<footer>
  <div class="container">
    <div class="row">
      <div class="col pt-5">
        <h6 class="text-uppercase">Useful Links</h6>
        <nav class="nav flex-column">
          <a class="nav-link active" href="/quick-start/">Quick Start</a>
          <a class="nav-link active" href="/devices/">Devices</a>
          <a class="nav-link active" href="/download/">Download</a>
          <a class="nav-link active" href="/documentation/">Documentation</a>
          <a class="nav-link active" href="/source-code/">Source Code</a>
        </nav>
      </div>
      <div class="col pt-5">
        <h6 class="text-uppercase">Community</h6>
        <nav class="nav flex-column">
          <a class="nav-link active" href="/blog/">Blog</a>
          <a class="nav-link active" href="/forums/">Forums</a>
          <a class="nav-link active" href="/support/">Support</a>
        </nav>
      </div>
      <div class="col pt-5" style="min-width: 10rem">
        <h6 class="text-uppercase">Traccar</h6>
        <p>Traccar is a free and open source modern GPS tracking system.</p>
        <p>
          <a href="/subscribe/">Subscribe</a> to the project news and updates.</p>
        </div>
      </div>
      <div class="row py-5">
        <div class="col text-muted">© <span class="d-none d-sm-inline">Copyright 2009 - 2018 </span>Traccar Ltd<a class="text-muted d-none d-lg-inline ml-5" href="/public-offer/">Public Offer [Публичная Оферта]</a><span class="pull-right">
          <a class="text-muted ml-3" href="//www.facebook.com/traccar">
          <i class="fa fa-facebook-square fa-lg"></i></a>
          <a class="text-muted ml-3" href="//twitter.com/TraccarOrg">
            <i class="fa fa-twitter-square fa-lg"></i></a>
            <a class="text-muted ml-3" href="//www.youtube.com/c/TraccarOrg">
              <i class="fa fa-youtube-square fa-lg"></i></a>
            <a class="text-muted ml-3" href="mailto:support@traccar.org">
              <i class="fa fa-envelope-square fa-lg"></i></a></span>
            </div>
          </div>
        </div>
      </footer>