<div class="container">
  <div class="row">
    <div class="col-md-4"> 
<img src="..\assets\KEVIN WARD.jpeg" class="thumbnail" height="300" width="300" />
</div> 
</div>
</div>

<!-- <div class="row">
  <div class="col-md-12">
      <div class="image-wrapper">
          <img 
           (touchstart)="openZoom($event, true)" 
           (touchend)="openZoom($event, false)"
           (touchmove)="positionZoom($event)"
           [src]="srcImage" 
          />
         </div>
         <image-zoom 
          *ngIf="showZoom" 
          [src]="srcImageZoom" 
          [xPos]="xPos" 
          [yPos]="yPos">
        </image-zoom>
  </div>

</div> -->