<div>
  <form [formGroup]="loginForm" (ngSubmit)="click(loginForm.value)">
     
    
    <input placeholder="id" name="id" required formControlName="id"><br>
    <input placeholder="firstName" name="first_name" required formControlName="first_name" /><br>
    <input placeholder="lastname" name="last_name" required formControlName="last_name" /><br>

    <!--<input placeholder="avatar" name="avatar" required formControlName="avatar" /><br> -->
    <!-- <div ng-repeat="data in credens.loginForm"> -->
    <img src="{{userData?.data[0].avatar}}" height="50" width="100"/><br>
    <img [src]="userData?.data[0].avatar" height="50" width="100"/><br>




    <button class="btn btn-primary" onClick="submit()" color="primary">Submit</button>
    
   
  </form>
  <!-- <p>id={{userData?.data[0].id}}</p>
  <p>first_name={{userData?.data[0].first_name}}</p>
  <p>last_name={{userData?.data[0].last_name}}</p>
  <p>avatar={{userData?.data[0].avatar}}</p> -->

 
</div>