<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://specials-images.forbesimg.com/imageserve/5babb7f1a7ea4342a948b79a/416x416.jpg?background=000000&cropX1=674&cropX2=3174&cropY1=1695&cropY2=4196" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Warren Buffett</h5>
    <p class="card-text">Known as the "Oracle of Omaha," Warren Buffett is one of the most successful investors of all time.
      Buffett runs Berkshire Hathaway, which owns more than 60 companies, including insurer Geico, battery maker Duracell and restaurant chain Dairy Queen.
      The son of a U.S. congressman, he first bought stock at age 11 and first filed taxes at age 13.</p>
    
  </div>
</div>

