
<div class="login" style="margin-left: 42%; margin-right: 41%;margin-top: 8%">
  <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <form class="example-form" [formGroup]="loginForm">

  <mat-card-content>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
            <input matInput placeholder="Email"  name="email" required formControlName="email">
            </mat-form-field>
          </td>
        </tr>
        <tr>    
        <td><mat-form-field class="example-full-width">
          <input matInput placeholder="Password" type="password" name="password" required formControlName="password">
        </mat-form-field></td>
      </tr></table>
    <!-- </form> -->
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Login</button>
    <button mat-raised-button routerLink="/reg" routerLinkActive="active" color="primary">Register</button>
  </mat-card-actions>
  
</form>
</mat-card>
</div>
